# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code extension build output
out/

# Webview build output
media/webview/

# VS Code
.vscode/*.log
.vscode/*.tsbuildinfo
.vscode/.cache/

# Mac
.DS_Store

